<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<!-- Response Modal -->
<div th:fragment="modal" class="modal fade" id="responseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Here you go! Generation was successful ✔</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="outputUrl" aria-label="Example text with button addon" aria-describedby="button-addon1" disabled readonly>
                    <button class="btn btn-secondary btn-sm" type="button" id="btnToClipboard">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </button>
                </div>

                <img class="mt-2" id="outputImage" width="250px" height="250px" alt="Link within QR-Code">
                <hr/>
                <div class="printOpts">
                    <h5 class="mb-2">Print options:</h5>
                    <ul class="nobull">
                        <li>
                            <label for="nQR">Qty. : </label>
                            <input type="number" id="nQR" name="Qua" min="1" max="100" value="1">
                        </li>
                        <!-- Future
                        <li>
                            <label for="qrColor">Color: </label>
                            <input type="color" id="qrColor" name="">
                        </li>
                        <li>
                            <label for="overlayImg">Overlay: </label>
                            <input type="file" id="overlayImg" name="">
                        </li> -->

                    </ul>
                </div>
            </div>
            <!-- End Modal Body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="printBtn" type="button" class="btn btn-primary"><i class="bi bi-printer-fill"></i> Print QR-Code</button>
            </div>
        </div>
    </div>
</div>
<!-- End Response Modal -->

<!-- Response Toast -->
<!-- TODO create toast popup -->
<!-- End Response Toast -->

<!-- Footer -->
<div th:fragment="footer" class="mt-5">
    <p class="mb-3 text-muted">Made with <i class="bi bi-heart-fill text-danger"></i> by <a href="https://github.com/Likqez">Lukas Lanzner</a></p>
    <p class="text-muted">© 2022</p>
</div>
<!-- End Footer -->


</body>
</html>
