<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta content="text/html" charset="UTF-8">
    <title th:text="*{title}"></title>

    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.8.0/font/bootstrap-icons.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/analytics.css}">
</head>
<body>

<!-- Main Container -->
<main class="container text-center">

    <div class="row g-5 mb-6">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card text-start" style="border-radius: .75rem">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><span class="h6 text-muted fs-6 d-block mb-2">Total clicks</span>
                            <span th:text="*{totalClicks}" class="h3 fw-bold mb-0">0</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white fs-2 rounded-circle">
                                <i class="bi bi-hand-index-thumb"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 fs-6">
                            <span class="badge bg-soft-success text-success me-2">
                                <i class="bi bi-arrow-up me-1"></i> 23%
                            </span>
                            <span class="text-nowrap fs-6 text-muted">Since last week</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card text-start" style="border-radius: .75rem">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><span class="h6 text-muted fs-6 d-block mb-2">Unique clicks</span>
                            <span th:text="*{uniqueClicks}" class="h3 fw-bold mb-0">215</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white fs-2 rounded-circle">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 fs-6">
                            <span class="badge bg-soft-success text-success me-2">
                                <i class="bi bi-arrow-up me-1"></i> 23%
                            </span>
                        <span class="text-nowrap fs-6 text-muted">Since last week</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card text-start" style="border-radius: .75rem">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><span class="h6 text-muted fs-6 d-block mb-2">Top region</span>
                            <span th:text="*{topRegion}" class="h3 fw-bold mb-0">DE</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white fs-2 rounded-circle">
                                <i class="bi bi-pin-map"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 fs-6">
                            <span class="badge bg-soft-success text-success me-2">
                                <i class="bi bi-arrow-up me-1"></i> 23%
                            </span>
                        <span class="text-nowrap fs-6 text-muted">Since last week</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card text-start" style="border-radius: .75rem">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><span class="h6 text-muted fs-6 d-block mb-2">Top day</span>
                            <span th:text="*{topDay}" class="h3 fw-bold mb-0">215</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white fs-2 rounded-circle">
                                <i class="bi bi-award"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-0 fs-6">
                            <span class="badge bg-soft-success text-success me-2">
                                <i class="bi bi-arrow-up me-1"></i> 23%
                            </span>
                        <span class="text-nowrap fs-6 text-muted">Since last week</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-5 mb-6">

    </div>

    <div th:replace="fragments/fragments.html :: footer"></div>
</main>
<!-- End Main Container -->

</body>
</html>
