<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta content="text/html" charset="UTF-8">
    <title th:text="*{title}"></title>

    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/homepage.css}">
</head>

<body class="text-center">

<!-- Main Container -->
<main class="form-generate">
    <form action="">
        <img class="mb-3" th:src="@{/img/logo_round-128x128.png}" alt="dotspace Logo">
        <h1 class="h3 mb-5 fw-normal">URL-Minifier</h1>
        <h1 class="h6 mt-5 mb-2">Insert URL here</h1>
        <!-- User Input -->
        <div class="form-floating mb-3">
            <input type="url" class="form-control" id="floatingInput" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <label for="floatingInput">URL</label>
        </div>
        <!-- End User Input -->
        <button class="w-100 btn btn-lg btn-primary" id="submitBtn" type="button">Generate</button>
    </form>
    <div th:replace="fragments/fragments.html :: footer"></div>
</main>
<!-- End Main Container -->


<div th:replace="fragments/fragments.html :: modal"></div>


<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/minifier.js}"></script>

<script>

</script>

</body>
</html>
